window {
    font-family: FontAwesome, DejaVuSansMono;
    font-size: 20px;
    background: #242424;
    border: 1px solid #2d3036;
}

#input {
    margin: 0px -85px;
}

#entry {
    margin: 0px 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #c5c8c6;
}

#entry:selected {
    background-color: #3b3b3b;
}
